---
layout: default
---

<div id="archives">
	<div class="title">
		<h1>archives</h1>
		<hr />
	</div>
	{% for post in site.posts %}
	{% capture curr_year %}{{ post.date | date: "%Y" }}{% endcapture %}

	{% if curr_year != last_year %}
	{% unless forloop.first %}</ul>{% endunless %}
	<h2 class="year">{{ curr_year }}</h2>
	<ul>
		{% assign last_year = curr_year %}
		{% endif %}

		{% assign ts = post.date | date: "%s" %}
		<li>
			<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
			<div class="date">{{ post.date | date: "%B %d, %Y" }}</div>
		</li>
		{% endfor %}
	</ul>
</div>
