---
layout: default
---

{% assign sort_categories = site.categories | sort %}

<div class="title">
	<h1>categories</h1>
</div>

{% for category in sort_categories %}
	{% assign category_name = category | first %}
	{% assign category_posts = category | last %}
	{% assign first_post = category_posts | first %}

	{% if category_name == first_post.categories[0] %}

		{% for post in category_posts %}
			{% assign second_category = post.categories[1] %}
			{% if second_category %}
				{% unless sub_categories contains second_category %}
					{% assign sub_categories = sub_categories | push: second_category %}
				{% endunless %}
			{% endif %}
		{% endfor %}

	<div id="categories">
		<div id="top-category">
			<span>
			{% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
			<a href="{{ _category_url | relative_url }}">{{ category_name }}</a> •

			{% assign top_posts_size = site.categories[category_name] | size %}
			<span class="posts-count">
				{{ top_posts_size }}

				{% if top_posts_size > 1 %}
					posts
				{% else %}
					post
				{% endif %}
			</span>
			</span>
		</div>
	</div>
	{% endif %}
{% endfor %}