<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
	<main>
		<h1>Rylie</h1>
		<p id="bio">
			weebcore developer on the internet • hoshiyomi ☄ • i like anime,
			programming and video games
		</p>
		<ul>
			<li><a href="/about">about</a></li>
			<li><a href="/archives">blog</a></li>
			<li><a href="/projects">projects</a></li>
		</ul>
		<img src="/assets/img/suiseistupid.png">
	</main>
	<div id="space"></div>
	<p id="quote-text">
		"I want to do what I can for the people who need me. That way, I might
		remain in the memories of that person, right?"
	</p>
	<p id="quote-name">
		— Chisato Nishikigi
	</p>
	<br>
	<footer>
		© 2022-2023 j1nxie
	</footer>

	<script>
		twemoji.parse(
			document.body,
			{ base: "https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/" });
	</script>
</body>

</html>