---
layout: default
---

<div class="title">
	<h1>tags</h1>
</div>

<div id="tags">
	{% assign tags = "" | split: "" %}
	{% for t in site.tags %}
		{% assign tags = tags | push: t[0] %}
	{% endfor %}

	{% assign sorted_tags = tags | sort %}

	{% for t in sorted_tags %}
		<div>
			<a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">{{ t }}</a> •
			<span>
				{{ site.tags[t].size }}
				{% if site.tags[t].size > 1 %}
					posts
				{% else %}
					post
				{% endif %}
				</span>
		</div>
	{% endfor %}
</div>
